
header.page {
  background-color: #e09200;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  position: relative;
  top: 120px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-img {
  position: relative;
  z-index: 2;
}

.user-name {
  position: relative;
  color: white;
  margin: 0;
  z-index: 2;
}

@media only screen and (min-width: 1024px) {
  header.page {
    margin: 2%;
    top:  170px;
    width: 600px;
    position: sticky;
    border-radius: 4px;
  }

  


}