
.nav-bar {
  
  color: white;
  background-color: #e09200;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  /* background-color: transparent; */
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  padding: 1.5em;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-family: bungee;
  font-weight: 300;
  font-size: xxx-large;
  position: relative;
  z-index: 5;
}

.write-new {
  position: relative;
  z-index: 5;
  height: fit-content;
  font-weight: 600;
  font-size: medium;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.write-new:focus {
  outline: 0;
}

.write-new-text {
  margin: 0 0 4px 0;
}


#down-arrw-icon {
  color: #f53220;
  font-size: x-large;
  -moz-transition: transform .5s;
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

.flip {
  transform: rotate(-180deg);
}

.write-new:hover #down-arrw-icon {
  color: #8f0c00;
  font-size: x-large;
}


@media only screen and (min-width: 1024px) {
  .nav-bar {
  background-color: #4056A1;
  background-image: none;
  
  }

  .nav-div {

    height: 50px;
    width: 100%;
    top: 120px;
    position: fixed;
    background-color: #f4f1ec;
  }

  
}