

/* STYLING FOR NEW TWEET AREA - COMPOSE, TWEET, COUNTER, ALERT MESSAGES */

.new-tweet {
  margin-bottom: 10px;
  display: flex;
}

.tweet-form {
  width: 100%;
  display: none;
}

.tweet-field::placeholder {
  font-weight: 600;
}

.tweet-field {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #545149;
  background-color: #f4f1ec;
  border-bottom-width: 3px; 
  height: 84px;
  margin-top: 10px;
  resize: none;
}

.tweet-field:focus{
  outline: none
}

.counter {
  float: right;
  font-family: bungee;
  font-size: xx-large;
}

.counter-over {
  color: #f8675b;
}

.button {
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: bungee;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border-style: solid;
  border-color: #4056A1;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #f4f1ec;
  color: #4056A1;
}


.tweet-alert {
  font-weight: 600;
  font-size: large;
  display: none;
  height: 35px;
  background-color: #f8675b;
  color: #f4f1ec;
  border-radius: 2px;
}

.alert-msg {
  display: inline-block;
  flex-grow: 2;
  margin: 0px;
}

/* Font awesome exlamation icon */
.fa-exclamation {
  margin: 8px 15px;
}